
.realtime_log_output {
    background-color: black; color: silver;
    font-family: 'Lucida Console', 'Courier new', Courier, monospace;
    font-size: 9pt; line-height: normal; padding: 10px; border: none;
    margin: 0; overflow-x: auto;
}

.log_output {
    background-color: black; color: silver;
    font-family: 'Lucida Console', 'Courier new', Courier, monospace;
    font-size: 9pt; line-height: normal; padding: 10px;
    overflow-x: auto;
}
